
  .div {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
    
  }
  .div-2 {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    display: flex;
    min-height: 1731px;
    width: 100%;
    align-items: center;
    padding: 20px 0 38px;
  }
  @media (max-width: 991px) {
    .div-2 {
      max-width: 100%;
    }
  }
  .img {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    background: url("../Menu/images/v77_3.png");
    background-size: 100%;

  }
  .div-3 {
    position: relative;
    font-feature-settings: "clig" off, "liga" off;
    justify-content: flex-end;
    align-items: center;
    background-color: #fff;
    align-self: stretch;
    width: 100%;
    color: #000;
    text-align: center;
    letter-spacing: -2.4px;
    padding: 20px 60px 20px;
    font: 400 120px/120% IM FELL DW Pica, -apple-system, Roboto, Helvetica,
      sans-serif;
      font-family: "IM Fell English", serif;
      font-weight: 400;
      font-style: normal;
  }
  
  @media (max-width: 991px) {
    .div-3 {
      max-width: 100%;
      font-size: 40px;
      padding: 0 20px;
      
    }
  }
  .div-4 {
    position: relative;
    margin-top: 39px;
    width: 100%;
    max-width: 1828px;
  }
  @media (max-width: 991px) {
    .div-4 {
      max-width: 100%;
    }
  }
  .div-5 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-5 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 67%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column {
      width: 100%;
    }
  }
  .div-6 {
    font-feature-settings: "clig" off, "liga" off;
    justify-content: center;
    border-radius: 24px;
    border-color: rgba(230, 230, 230, 1);
    border-style: solid;
    border-width: 2px;
    background-color: #fafaf5;
    position: relative;
    flex-grow: 1;
    color: #000;
    width: 100%;
    padding: 36px 36px;
    margin: 0px 20px; 
    font: 300 25px/39px Inter, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-6 {
      max-width: 100%;
      margin-top: 32px;
      padding: 0 20px;
    }
  }
  .column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 20px;
    margin-right: 20px;
  }
  @media (max-width: 991px) {
    .column-2 {
      width: 100%;
    }
  }
  .div-7 {
    position: relative;
    display: flex;
    margin-top: 7px;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-7 {
      max-width: 100%;
      margin-top: 39px;
    }
  }
  .img-2 {
    aspect-ratio: 1.47;
    background: url("./images/00416.JPG");
    object-fit: auto;
    object-position: center;
    width: 100%;
    background-size: cover;
    background-position: center center;
  }
  @media (max-width: 991px) {
    .img-2 {
      max-width: 100%;
    }
  }
  .img-3 {
    aspect-ratio: 1.32;
    object-fit: auto;
    object-position: center;
    width: 100%;
    margin-top: 20px;
    background: url("./images/02209.JPG");
    background-size: cover;
    background-position: center center;
    
  }
  @media (max-width: 991px) {
    .img-3 {
      max-width: 100%;
    }
  }
  .div-8 {
    position: relative;
    margin-top: 39px;
    width: 100%;
    max-width: 1828px;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .div-8 {
      max-width: 100%;
    }
  }
  .div-9 {
    gap: 5px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-9 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 30%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-3 {
      width: 100%;
    }
  }
  .img-extra {
    aspect-ratio: 1.47;
    background: url("./images/011582.JPG");
    object-fit: auto;
    object-position: center;
    width: 100%;
    background-size: cover;
    margin-top: 10px;
    background-position: center center;
  }
  @media (max-width: 991px) {
    .img-2 {
      max-width: 100%;
    }
  }
  .img-4 {
    object-fit: auto;
    object-position: center;
    width: 100%;
    flex-grow: 1;
    background: url("./images/86011030.JPG");
    background-position: center center;
    background-size: cover;

  }
  @media (max-width: 991px) {
    .img-4 {
      max-width: 100%;
      margin-top: 15px;
    }
  }
  .column-4 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 30%;
    margin-left: 10px;
  }
  @media (max-width: 991px) {
    .column-4 {
      width: 100%;
    }
  }
  .img-5 {
    aspect-ratio: 1.39;
    object-fit: auto;
    object-position: center;
    width: 100%;
    flex-grow: 1;
    background: url("./images/2013004021.JPG");
    background-size: cover;
    background-position: center center;

  }
  @media (max-width: 991px) {
    .img-5 {
      max-width: 100%;
      margin-top: 10px;
    }
  }
  .column-5 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 40%;
    margin-left: 10px;
  }
  @media (max-width: 991px) {
    .column-5 {
      width: 100%;
    }
  }
  .img-6 {
    aspect-ratio: 1.6;
    object-fit: auto;
    object-position: center;
    width: 100%;
    align-self: stretch;
    margin: auto 0;
    background: url("./images/2020999043.JPG");
    background-size: cover;
    background-position: center center;
  }
  @media (max-width: 991px) {
    .img-6 {
      max-width: 100%;
      margin-top: 10px;
      
    }
  }
